<div class="container-fluid" style="background: #000000;position: fixed; z-index: 1; ">
  <div class="container" style="width: 60%;">
    <div class="brand" style="float: left;margin-left: -0.5rem;">
        <a><img class="brand" src='../../assets/icons.png' alt='Icons' style="width: 266px"></a>
    </div>
    <div class="icons" style="float: right;">
        <a><img class="rupee" src='../../assets/icons.png' alt='Icons'></a>
        <a><img class="notification" src='../../assets/icons.png' alt='Icons'></a>
        <a><img class="user" src='../../assets/icons.png' alt='Icons'></a>
        <a><img class="cart" src='../../assets/icons.png' alt='Icons'></a>
    </div>
  </div>
</div>